<div *ngIf="isLoading" class="loading text-center mt-5">
    <p>Cargando solicitudes...</p>
</div>

<div *ngIf="isAdmin && !isLoading">
    <div class="container mt-5">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
            <!-- Card Header -->
            <div class="card-header text-center bg-primary text-white">
                <h3 class="mb-0">Lista de Solicitudes</h3>
            </div>

            <!-- Card Body -->
            <div class="card-body">
                <!-- Mensaje cuando no hay solicitudes -->
                <div *ngIf="solicitudes.length === 0" class="alert alert-info text-center">
                    No hay solicitudes disponibles.
                </div>

                <!-- Tabla cuando hay solicitudes -->
                <div *ngIf="solicitudes.length > 0" class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th style="white-space: nowrap;">Nombre Completo</th>
                                <th style="white-space: nowrap;">Fecha Inicio</th>
                                <th style="white-space: nowrap;">Fecha Fin</th>
                                <th style="white-space: nowrap;">Fecha que se solicitó</th>
                                <th style="white-space: nowrap;">Motivo</th>
                                <th style="white-space: nowrap;">Estado</th>
                                <th style="white-space: nowrap;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let solicitud of solicitudes">
                                <td>
                                    {{ usuarios[solicitud.usuario_id].nombreCompleto }}<br>
                                    <span class="text-muted">{{ usuarios[solicitud.usuario_id].username }}</span>
                                </td>
                                <td>{{ solicitud.fecha_inicio | date: 'shortDate' }}</td>
                                <td>{{ solicitud.fecha_fin | date: 'shortDate' }}</td>
                                <td>{{ solicitud.fecha_solicitada | date: 'shortDate' }}</td>
                                <td>{{ solicitud.motivo ? solicitud.motivo : 'No se ha especificado ningún motivo' }}</td>
                                <td>
                                    <span class="badge text-black" [ngClass]="{
                                        'badge-warning': solicitud.estado === null,
                                        'badge-success': solicitud.estado === true,
                                        'badge-danger': solicitud.estado === false
                                    }">
                                        {{
                                        solicitud.estado === null ? 'Pendiente' :
                                        solicitud.estado === true ? 'Aprobada' : 'Rechazada'
                                        }}
                                    </span>
                                </td>
                                <td>
                                    <button class="btn btn-success btn-sm" (click)="approveButton(solicitud)">
                                        <i class="bi bi-check-lg"></i>
                                    </button>&nbsp;
                                    <button class="btn btn-danger btn-sm ml-2">
                                        <i class="bi bi-x"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!isAdmin && !isLoading" class="alert alert-warning text-center mt-5">
    <strong>No puedes ver esta lista de solicitudes.</strong>
</div>