<div *ngIf="isLoading" class="loading text-center mt-5">
  <div class="spinner-border spinner-border-sm me-2" role="status"></div>
  Cargando usuarios...
</div>

<div *ngIf="!isLoading">
  <div class="container mt-5">
    <div class="card shadow-lg">
      <!-- Card Header -->
      <div class="card-header text-center header-card text-white">
        <h3 class="mb-0">Lista de Usuarios</h3>
      </div>

      <!-- Card Body -->
      <div class="card-body">
        <div class="mb-3">
          <button class="btn btn-primary btn-sm d-flex align-items-center fs-6" [routerLink]="['/crearUsuario']"
            aria-label="Crear Usuario">
            <i class="bi bi-person-plus me-2"></i> Crear usuario
          </button>
        </div>

        <div *ngIf="usuarios.length === 0" class="alert alert-info text-center w-50 mx-auto">
          <strong>No hay usuarios disponibles.</strong>
        </div>

        <!-- Tabla cuando hay usuarios -->
        <div *ngIf="usuarios.length > 0" class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark text-center">
              <tr>
                <th style="white-space: nowrap;">#</th>
                <th style="white-space: nowrap;">Nombre</th>
                <th style="white-space: nowrap;">Email</th>
                <th style="white-space: nowrap;">Rol</th>
                <th style="white-space: nowrap;">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of usuarios">
                <td class="text-center" style="white-space: nowrap;">{{ user.id }}</td>
                <td style="white-space: nowrap;">
                  {{ user.nombreCompleto }}<br>
                  <span class="text-muted">{{ user.username }}</span>
                </td>
                <td class="text-center" style="white-space: nowrap;">{{ user.email }}</td>
                <td class="text-center" style="white-space: nowrap;">{{ user.rol }}</td>
                <td class="text-center">
                  <button *ngIf="user.id.toString() !== usuario_actual?.sub.toString()" class="btn btn-danger btn-sm"
                    (click)="deleteUser(user.id)">
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>