<div>
  <button (click)="onPreviousMonth()">Mes Anterior</button>
  <span>{{ calendar.getMonthName(monthNumber) }} &nbsp; {{ year }}</span>
  <button (click)="onNextMonth()">Siguiente</button>
</div>
Número del mes: {{ monthNumber }}<br>
Año: {{ year }}<br>

<div>
  <!-- Cabecera con los nombres de los días de la semana -->
  <span *ngFor="let weekDay of weeksDaysName">
        {{ weekDay }}
    </span>
  <br>
  <!-- Mostrar cada semana en una nueva línea -->
  <ng-container *ngFor="let week of fullCalendarWeeks">
        <span *ngFor="let day of week" [ngStyle]="{'color': day.isCurrentMonth ? 'black' : 'grey'}">
            {{ day.number }}
        </span>
    <br>
  </ng-container>
</div>

<input type="date" name="" id="">
