<div class="container mt-3">
    <button (click)="turnoAnterior()">Anterior</button>
    <button (click)="turnoSiguiente()">Posterior</button>
</div>
<div class="container mt-3">
    <table class="table text-center table-bordered table-striped table-hover table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Lunes</th>
                <th>Martes</th>
                <th>Miércoles</th>
                <th>Jueves</th>
                <th>Viernes</th>
                <th>Sábado</th>
                <th>Domingo</th>
                <th>Horas Trabajadas</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let turno of horarioService.Turnos()">
                <td>{{turno.id}}</td>
                <td *ngFor="let dia of turno.turnos">
                    @if (dia.inicio && dia.fin) {
                        {{dia.inicio}} - {{dia.fin}}  
                    } @else {
                        Libre

                    }
                </td>
                <td>{{turno.horasTrabajadas}}</td>
            </tr>
        </tbody>
    </table>

</div>
