<div class="container-fluid mt-5 w-" *ngIf="mostrarNavbar">
  <!-- Topbar: Configuración de tema -->
  <div class="dropdown position-absolute top-0 end-0 p-3">
    <a href="#" class="text-black text-decoration-none dropdown-toggle" id="dropdownTheme" data-bs-toggle="dropdown"
       aria-expanded="false">
      <i class="bi bi-gear fs-5"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark shadow">
      <li>
        <a class="dropdown-item" href="#" (click)="toggleTheme()">
          {{ isDarkTheme ? 'Cambiar a tema claro' : 'Cambiar a tema oscuro' }}
        </a>
      </li>
    </ul>
  </div>
<div class="container-fluid mt-5" *ngIf="mostrarNavbar">
  <div class="row">
    <div class="col">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-lg p-3">
        <div class="container-fluid">
          <!-- Logo de la marca -->
          <a class="navbar-brand text-dark" href="#">
            <b>Apeiroo Vacations</b>
          </a>

          <!-- Botón de colapso para dispositivos móviles -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Menú de navegación -->
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
              <!-- Calendario -->
              <li class="nav-item me-3">
                <a class="nav-link text-dark" [routerLink]="['/calendario']" aria-label="Calendario">
                  <i class="bi bi-calendar-month fs-4"></i> Calendario
                </a>
              </li>

              <!-- Mis solicitudes -->
              <li class="nav-item me-3" *ngIf="mostrarMisSolicitudes" [routerLinkActive]="'active-link'"
                [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link text-dark" [routerLink]="['/solicitudes']" routerLinkActive="router-link-active"
                  aria-label="Mis Solicitudes">
                  <i class="bi bi-clipboard-check fs-4"></i>&nbsp; Mis Solicitudes
                </a>
              </li>

              <!-- Solicitudes -->
              <li class="nav-item me-3" *ngIf="!mostrarMisSolicitudes" [routerLinkActive]="'active-link'">
                <a class="nav-link text-dark" [routerLink]="['/solicitudes-admin']" routerLinkActive="router-link-active" href="#" aria-label="Solicitudes">
                  <i class="bi bi-clipboard-check fs-4"></i>&nbsp; Solicitudes
                </a>
              </li>

              <!-- Historial -->
              <li class="nav-item me-5 ms-5" [routerLink]="['/historial']" routerLinkActive="router-link-active" >
                <a class="nav-link text-dark" aria-label="Historial">
                  <i class="bi bi-clock fs-4"></i>
              </li>

              <!-- Crear usuario -->
              <li class="nav-item me-3" *ngIf="mostrarCrearUsuario" [routerLinkActive]="'active-link'">
                <a class="nav-link text-dark" [routerLink]="['/crearUsuario']" routerLinkActive="router-link-active" aria-label="Crear Usuario">
                  <i class="bi bi-person-plus fs-4"></i>&nbsp; Crear usuario
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
