<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="dropdown position-absolute top-0 end-0 p-3">
    <a href="#" class="text-black text-decoration-none dropdown-toggle" id="dropdownTheme" data-bs-toggle="dropdown"
      aria-expanded="false">
      <i class="bi bi-gear fs-5"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark shadow">
      <li>
        <a class="dropdown-item" href="#" (click)="toggleTheme()">
          {{ isDarkTheme ? 'Cambiar a tema claro' : 'Cambiar a tema oscuro' }}
        </a>
      </li>
    </ul>
  </div>
  <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%;">
    <h2 class="text-center mb-2 mt-4">Apeiroo Rooms</h2>
    <h5 class="text-center mb-4 mt-4">Iniciar Sesión</h5>
    <p class="text-center mb-4">Inicia sesión para reservar tu sala</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="username" class="form-label">Usuario</label>
        <input id="username" formControlName="username" type="text" class="form-control"
          placeholder="Ingresa tu usuario" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input id="password" formControlName="password" type="password" class="form-control"
          placeholder="*****************" />
      </div>
      <button type="submit" class="btn btn-primary w-100 mb-0" [disabled]="loginForm.invalid">
        Ingresar
      </button>
      <div class="divider d-flex align-items-center my-4">
        <p class="text-center fw-bold mx-3 mb-0 text-mutedx">or continue with</p>
      </div>
    </form>
    <div class="d-flex justify-content-center mb-3">
      <div id="g_id_onload" data-client_id="408223060040-sd6g3nukat1vaohi16u656pqm55g325f.apps.googleusercontent.com"
        data-callback="handleCredentialResponse">
      </div>
      <div class="g_id_signin" data-type="standard"></div>
    </div>
  </div>
</div>